body
{
    width: 100vw; 
    height: 100vh; 
    margin: 0;    
    overflow: hidden;  
    background: radial-gradient(ellipse at bottom ,#1b2735 0%,#090a0f 100%);
}

.container{
    position: absolute;
    left: 495px;
    top: 300px;
    width: 600px;
    height: 300px;
    padding-left: 200px;
    padding-top: 70px;
    visibility: hidden;
    transform: translateY(600px);
    transition: translate 2s ease-in;
    
}

.chiffres{
    display: inline-block;
    margin: 2 20px;
    width: 100px;
    height: 200px;
    font-size: 200px;
    padding-bottom: 45px;
    padding-right: 8px;
    text-shadow: 0 0 15px white;
    -webkit-text-stroke: 2px gold;
   
  
    
}

.container :last-child{
    position: absolute;
    transition: transform  2s ease-out;
}
.balllon{
   animation: animate 2s ease-in-out infinite;
    transition: transform 2s ease;
    position: absolute;
   
   
}

@keyframes animate {
    0%{
        transform:translateY(0px);
    }
    70%{
        transform:translateY(-20px);
    }

    100%{
        
        transform:translateY(0px);
    }


}

.ballon{
    position: absolute;
    top: 190px;
    left: 790px;
    width: 200px;
    height: 250px;
    border-radius: 95px 95px 100px 100px;
    background-color: #FFD700;
    color: blue;
    font-size: 60px;
    box-shadow: 0 0 20px white;
   

}
.file{
    background-color: black;
    height: 200px;
    width: 2px;
    position: absolute;
    top: 440px;
    left: 890px;
   
}

.balllon1{

    animation: animate 2s linear infinite;
    transition: 2s;


}

@keyframes animate {
    0%{
        transform:translateY(0px);
    }
    70%{
        transform:translateY(-20px);
    }

    100%{
        
        transform:translateY(0px);
    }


}
 

.ballon1{
    position: absolute;
    top: 280px;
    left: 1400px;
    width: 200px;
    height: 250px;
    border-radius: 95px 95px 100px 100px;
    background-color: #C0C0C0;
    font-size: 60px;
    box-shadow: 0 0 20px white;
}
.file1{
    background-color: black;
    height: 200px;
    width: 2px;
    position: absolute;
    top: 530px;
    left: 1500px;
   

}
.balllon2{

    animation: animate 2s linear infinite;
    transition: 2s;


}

@keyframes animate {
    0%{
        transform:translateY(0px);
    }
    70%{
        transform:translateY(-20px);
    }

    100%{
        
        transform:translateY(0px);
    }


}
 
.ballon2{
    position: absolute;
    top: 280px;
    left: 130px;
    width: 200px;
    height: 250px;
    border-radius: 95px 95px 100px 100px;
    background-color:  #800080;
    font-size: 60px;
    box-shadow: 0 0 20px white;
}
.file2{
    background-color: black;
    height: 200px;
    width: 2px;
    position: absolute;
    top: 530px;
    left: 230px;
   

}

#container1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .division {
    position: absolute;
  }
  
  .drop {
    position: absolute;
    animation: Animation linear infinite;
  }
  
  @keyframes Animation {
    0% {
      top: 0;
    }
    100% {
      top: 100vh;
    }
  }

  .NewYear{
    position: absolute;
    top: 900px;
    left: 595px;
    font-size: 80px;
    color: gold;
    visibility: hidden;
    transition: transform 2s ease-in;
    text-shadow: 0 0 13px white;


  }
  .balllon3{
    visibility: hidden;
    position: absolute;
    top:-580px;
    left: 890px;
    transition: transform 3.5s ease-out;

  }/*juste pour l essai*/
  .ballon3{
    position: absolute;
    top: 280px;
    left: 130px;
    width: 100px;
    height: 150px;
    border-radius: 100px 100px 110px 110px;
    background-color:  goldenrod;
    box-shadow: 0 0 20px white;
}
.file3{
    background-color: black;
    height: 153px;
    width: 2px;
    position: absolute;
    top: 430px;
    left: 180px;
   

}
